# Einführung zu Pandas
Pandas baut auf Numpy auf

Installation:
!pip install pandas

In [1]:
# Bibliotheken 
import numpy as np
import pandas as pd

In [2]:
# Diesen Datensatz brauch ich bei der Erklärung von replace Values
# cars
labelList=['symboling','normalizedLosses','make','fuelType','aspiration','numOfDoors','bodyStyle','driveWheels','engineLocation',
           'wheelBase','length','width','height','curbWeight','engineType','numOfCylinders','engineSize','fuelSystem','bore',
           'stroke','compressionRatio','horsepower','peakRpm','cityMpg','highwayMpg','price']
carDF = pd.read_csv('./data/data_car.csv',delimiter=',',encoding='utf-8', names=labelList)

# Advertisment
advertismentData=pd.read_csv('./data/islrData_advertising.csv',delimiter=',',encoding='utf-8')
advertismentData = advertismentData.drop(['Unnamed: 0'], axis=1)
#advertismentData.head()

,symboling,normalizedLosses,make,fuelType,aspiration,numOfDoors,bodyStyle,driveWheels,engineLocation,wheelBase,...,engineSize,fuelSystem,bore,stroke,compressionRatio,horsepower,peakRpm,cityMpg,highwayMpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Serien
~ ähnlich einer Numpy Array = Nmpy Array kann keien Achsenbeschriftung haben => Mit Pandas kann man mit Labels arbeiten

Der erste Hauptdatentyp den wir uns für Pandas anschauen ist der der Series. Lass uns Pandas importieren und einige Series Objekte untersuchen.

Eine Series (dt. Serie) ist sehr ähnlich zu einem NumPy Array. Tatsächlich ist es auf dem NumPy Array Objekt aufgebaut. Was das NumPy Array letztlich von einer Series unterscheidet ist, dass Series Achsenbeschriftungen haben kann. Das bedeutet wir können nicht nur über numerische Indizes, sondern auch über das Label indexieren. Außerdem muss eine Series nicht unbedingt numerische Werte beinhalten.

Schauen wir uns das Konzept an einigen Beispielen an:

### Erstellen einer Pandas Serie

In [3]:
# Basis liste für Pandas
labels = ["a","b","c"]
meine_liste = [10,20,30]
# numpy Array
arr = np.array([10,20,30]) #<= hieraus erstellen wir ein Pandas DF
d = {"a":10,"b":20,"c":30} #<= hieraus erstellen wir ein Pandas DF

#### Aus einer pythonListe

In [4]:
pd.Series(data=meine_liste)
pd.Series(data=meine_liste,index=labels) #<= erstellt labels

a    10
b    20
c    30
dtype: int64

#### Aus einer numpy-Array

In [5]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

#### Aus einem Dictionary

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Inhalte von einem Pandas series
kann numerisch und strings oder auch eine Funktion sein

#### Inhalt String

In [7]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

#### Inhalt Funktionen

In [8]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Indexe Nutzen innerhalb von Pandas-Series
Der Schlüssel zur Nutzung von Series ist das Verständnis für deren Index. Pandas nutzt diese Indexnamen oder -nummern, um schnelle Suchen durchzuführen. Dies funktioniert ähnlich einer Hash-Tabelle oder einem Dictionary.

#### Create Series mit Index

In [9]:
# Serie1
ser1 = pd.Series([1,2,3,4],index=["USA","Deutschland","Russland","Japan"])
ser1

USA            1
Deutschland    2
Russland       3
Japan          4
dtype: int64

In [10]:
# Serie2, hier sind schon bekannte indexe drin, 1,2,&4 // dafür ist russland raus, aber Italien rein
ser2 = pd.Series([1,2,5,4],index=["USA","Deutschland","Italien","Japan"])
ser2

USA            1
Deutschland    2
Italien        5
Japan          4
dtype: int64

#### Abfragen des Series anhand des Index

In [11]:
ser1['Russland'] #<= returnt den wert, indiesem fall etwas numerisches

3

In [12]:
#### Addition von Series

In [13]:
ser1 + ser2 # D = 2+2 usw // italien i ist nur einmal drin => nan

Deutschland    4.0
Italien        NaN
Japan          8.0
Russland       NaN
USA            2.0
dtype: float64

## Data-Frame 
Data Frames sind das Steckenpferd von Pandas und wurden direkt durch die Programmiersprache R inspiriert. Wir können uns Data Frames als eine Vielzahl von Series vorstellen, die zusammengefügt wurden, um sich den selben Index zu teilen.

In [14]:
from numpy.random import randn
np.random.seed(101)

### Erstellen eines Dataframes

einlesen von externen Infos unter dem Kapitel "Daten Input und Output" in diesem Notebook

#### Aus einer mehrdimensionalen Pythonliste

In [15]:
OwnData = [['tom', 10], ['nick', 15], ['juli', 14]] 
OwnDF = pd.DataFrame(OwnData) # DF für die Transofmationen des DF
OwnDF.columns = ['Name', 'Age']
print(OwnDF)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

#### aus random

In [16]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())# <0 hier wird mit dem Split gearbeitet
names='W X Y Z'.split()
index='A B C D E'.split()
print(names, index)
print(df)
df['W']

['W', 'X', 'Y', 'Z'] ['A', 'B', 'C', 'D', 'E']
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [17]:
names='W X Y Z'.split()
index='A B C D E'.split()

### Spalten Auswahl und Indexierung

In [18]:
# Einzelne Spalte auswählen
df["W"] #<= die einzelne Spalte ist eine Seris

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [19]:
# Eine Liste von Spaltennamen übergeben
df[["W","Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

### Spalte hinzufügen

#### Aus einer Rechnung der internen Series/Spalten

In [20]:
df["neu"] = df["W"] + df["Y"]
print(df)
df["neu1"] = 5
print(df)
df["neu2"] = df["W"] + 5
print(df)
df["neu3"] = "Hallo"
df

names = ['Smith', 'Mayer', 'Christ', "Mueller", "Baum"]
df["neu4"] = names
df

          W         X         Y         Z       neu
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762
          W         X         Y         Z       neu  neu1
A  2.706850  0.628133  0.907969  0.503826  3.614819     5
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     5
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     5
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     5
E  0.190794  1.978757  2.605967  0.683509  2.796762     5
          W         X         Y         Z       neu  neu1      neu2
A  2.706850  0.628133  0.907969  0.503826  3.614819     5  7.706850
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     5  5.651118
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     5  2.981832
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     5  5.188695
E  0.190794  1.978757  2.605967  0.683509  2.796762     5  5.190794

,W,X,Y,Z,neu,neu1,neu2,neu3,neu4
A,2.706850,0.628133,0.907969,0.503826,3.614819,5,7.706850,Hallo,Smith
B,0.651118,-0.319318,-0.848077,0.605965,-0.196959,5,5.651118,Hallo,Mayer
C,-2.018168,0.740122,0.528813,-0.589001,-1.489355,5,2.981832,Hallo,Christ
D,0.188695,-0.758872,-0.933237,0.955057,-0.744542,5,5.188695,Hallo,Mueller
E,0.190794,1.978757,2.605967,0.683509,2.796762,5,5.190794,Hallo,Baum

### Spalten entfernen

In [21]:
df.drop('neu', axis=1) # <= zeigt das nur, das muss noch zugewiesen werden
print(df)
df = df.drop('neu', axis=1)# <= ist das gleiche wie df.drop('neu',axis=1,inplace=True)
df

          W         X         Y         Z       neu  neu1      neu2   neu3  \
A  2.706850  0.628133  0.907969  0.503826  3.614819     5  7.706850  Hallo
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     5  5.651118  Hallo
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     5  2.981832  Hallo
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     5  5.188695  Hallo
E  0.190794  1.978757  2.605967  0.683509  2.796762     5  5.190794  Hallo

      neu4
A    Smith
B    Mayer
C   Christ
D  Mueller
E     Baum

          W         X         Y         Z  neu1      neu2   neu3     neu4
A  2.706850  0.628133  0.907969  0.503826     5  7.706850  Hallo    Smith
B  0.651118 -0.319318 -0.848077  0.605965     5  5.651118  Hallo    Mayer
C -2.018168  0.740122  0.528813 -0.589001     5  2.981832  Hallo   Christ
D  0.188695 -0.758872 -0.933237  0.955057     5  5.188695  Hallo  Mueller
E  0.190794  1.978757  2.605967  0.683509     5  5.190794  Hallo     Baum

In [22]:
df = df.drop(['neu1', 'neu2', 'neu3', 'neu4'], axis=1)# <= ist das gleiche wie df.drop('neu',axis=1,inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Zeilen entfernen

In [23]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

### Zeilen Auswahl und Indexierung

#### Mehtode mit Loc
hier wird der string für spalten / Zeilenname verwendet

In [24]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

#### Mehtode mit iLoc indexLoc
hier wird der Index verwendet

In [25]:
df.iloc[0] # <= index loc

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

### Subsets von Dataframe

#### Einzelner wert via LOC

In [26]:
# Zeile & Spalten Sprich values
df.loc['B','Y']

-0.8480769834036315

#### SubFrame via LOC

In [28]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

#### Bedingte Auswahl // Filter

In [29]:
df > 0 #<= hier wird für jeden Wert eine Bedingung geprüft und entsprechend ausgegeben

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [30]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
df[df['W']>0]['Y'] #<= bedingung und dann nur eine Bestimme Spalte || Spalte C fehlt da w da NAN

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [32]:
df[(df['W']>0) & (df['Y'] > 1)] 
# zwei Bedingungen => hier die logischen Operatoren von Python checken...das ist nicht and oder OR sondern & oder |

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [33]:
## Anderes Beispiel mit dem Advertisment dataset
# hier alle größer als bestimmter wert in TV
advertismentDataLoc = advertismentData.loc[
    (advertismentData.TV > 40)]
print(advertismentData.shape)
print(advertismentDataLoc.shape)

# hier alle größer als bestimmter wert in TV UND größer in Radio
advertismentDataLoc2 = advertismentData.loc[
    (advertismentData.TV > 40) & (advertismentData.radio > 40)]
print(advertismentData.shape)
print(advertismentDataLoc2.shape)

# Top whatever
advertismentDataLoc3 = advertismentData.loc[:99]
print(advertismentData.shape)
print(advertismentDataLoc3.shape)

(200, 4)
(169, 4)

In [34]:
### Top werte top10 top 100 top whatever
advertismentDataLoc3 = advertismentData.loc[:99]
print(advertismentData.shape)
print(advertismentDataLoc3.shape)

(200, 4)
(100, 4)

#### Filter for categorical Value / Filter for String Value

In [65]:
filteredforCarBrand  = carDF.loc[carDF['make'] == 'alfa-romero']
print(carDF.shape)
print(filteredforCarBrand.shape)

(205, 26)
(3, 26)

#### Reshaping
hier wollen ein unter Subset-Bilden. Ziel ist es aus einem Datensatz mit n feature einen neuen datensatz mit n-"WelcheAnzahlAuchImmer" zu bilden. Anders ausgedrückt, wir wollen nur bestimmte SPALTEN herauspicken. 

Wollen wir nur bestimmte ZEILEN auswählen, so muss man einen Filter/Subset wählen.

##### Version1 dropping obsolet data

In [66]:
dfTv = advertismentData.drop(['TV','radio','newspaper'], axis=1)
print(dfTv.shape) # => es ist wichtig dass hier (200,1) und nicht (200, ) steht

(200, 1)

##### Version 2  Transform into NP & reshaping the format

###### Long Version

In [67]:
dfTv = advertismentData['TV']
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, ) 
dfTv = dfTv.values.reshape(-1,1)
print(dfTv.shape) # => hier eben das Problem das oben bereit erwähnt wurde => (200, )

(200,)
(200, 1)

###### Short Version
####### Single-Select

In [68]:
dfTv = advertismentData['TV'].values.reshape(-1,1)
print(dfTv.shape)

(200, 1)

####### Multi-Select

In [69]:
dfTvRadio = advertismentData[['TV', 'radio']].values.reshape(-1,2)
dfTvRadio2 = pd.DataFrame(dfTvRadio, columns = ['TV', 'Radio']) 
print(dfTvRadio.shape)
print(dfTvRadio2.shape)

(200, 2)
(200, 2)

In [70]:
carDF.head(2)

,symboling,normalizedLosses,make,fuelType,aspiration,numOfDoors,bodyStyle,driveWheels,engineLocation,wheelBase,...,engineSize,fuelSystem,bore,stroke,compressionRatio,horsepower,peakRpm,cityMpg,highwayMpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

### Indexierung extended / Mehr Index

#### Index zurücksetzten in den Numerischen Wert
hier werden die Alten indexe in eine Spalte übernommen

In [ ]:
df.reset_index() # fehlt die Zuweisung

#### zuweisen neuen Index

In [ ]:
neuind = 'BY BW HH BB NW'.split()
df["Staaten"] = neuind
print(df)
df= df.set_index('Staaten')
df

### Multi-Index und Index Hierarchie
hier wird ein Aussen und ein Innen Index verwendet

#### Erstelle Multi-Index

In [ ]:
aussen = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
innen = [1,2,3,1,2,3]
hier_index = list(zip(aussen,innen)) # hier = heirarchich
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

In [ ]:
#Diesen Multiindex kann man jetzt nach bestimmtne Kriterien Downfiltern
df.loc['G1'] #<= nur nach g1 gefiltert
#df.loc[2] #<= nur nach g1 gefiltert
df.loc['G1'].loc[2] #<= nur nach g1 gefiltert & g2 gefiltert

#### Weise Namen an Multiindex zu

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Gruppe','Num']
df

#### Abfragen von Multiindex

In [ ]:
# Filtern nach dem ersten Index
df.xs('G1') # <= ähnlich wie

In [ ]:
# Filtern nach dem zweiten Index
df.xs(1,level='Num')

In [ ]:
df.xs(['G1',1])

## Fehlende Daten/Missing Data
Dieses Problem der fehlenden Daten tritt relativ häufig auf:

unvollständige Datensätze aufgrund technischer Pannen oder eines Datenverlustes
wenn einige befragte Personen aufgrund mangelnden Wissens oder unzureichender Antwortmotivation auf bestimmte Fragen bewusst keine Antwort geben
Nun werden wir einige der üblichen Wege (z.B. Eliminierungsverfahren und Imputation) kennenlernen, um mit Missing Data (dt. fehlenden Daten) umzugehen.

In [ ]:
# BasicData
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

### Eliminierung
Hat einen Großen Informationsverlust.

Das Eliminierungsverfahren (auch: Complete-case analysis) zählt zu den gängigen Missing-Data-Techniken. Dabei werden sämtliche Datensätze, bei denen eines oder mehrere Erhebungsmerkmale fehlende Werte aufweisen, aus der Datenmatrix gestrichen. Dieses Verfahren ist zwar sehr einfach, hat aber erhebliche Nachteile: 
1. Insbesondere hat es einen erheblichen Informationsverlust zur Folge.
1. Ferner kann diese Technik zu einer Verfälschung der verbleibenden Stichprobe führen. Als häufiges Beispiel gelten Umfragen bezüglich des Einkommens, bei denen es durchaus vorkommen kann, dass gerade Personen mit einem relativ hohen Einkommen dieses ungerne angeben und es daher in solchen Fällen tendenziell zu Missing Data kommt.

In [ ]:
df.dropna()# <= nur noch die Zeilen die kein Nullwerte haben

In [ ]:
df.dropna(axis=1) #<= nur noch die Spaltend die keine Nullwerte haben

In [ ]:
df.dropna(thresh=2) #<= threshold ab einer gewissen Anzahl von leeren werten

### Imputation
Kann Verfälschungen haben

Um dieses Problem der Eliminierungsverfahren möglichst in den Griff zu bekommen, wurden Imputationsverfahren entwickelt, bei denen versucht wird, fehlende Daten nicht einfach zu ignorieren, sondern stattdessen durch plausible Werte zu ersetzen, die unter anderem mit Hilfe der beobachteten Werte des gleichen Datensatzes geschätzt werden können.

In [ ]:
# finde die Nullvalues
df.isnull()

#### Konstante

In [ ]:
df.fillna(value='Füllwert') #<= Konstatnte
df.fillna(value=0)

#### Mean

In [ ]:
df['A'].fillna(value=df['A'].mean())

## Gruppieren / GroupBy
Die `groupby` Methode (dt. gruppieren nach) erlaubt es uns Zeilen zu gruppieren und Aggregationsfunktionen aufzurufen.
![bild](./imgs/Groupby.PNG)

In [ ]:
# Data Frame erstellen
data = {'Firma':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

### Simple Gruppieren

In [ ]:
# Groupby Firma
df.groupby('Firma') #<0 kann noch nicht wirklich genutzt werden, aber hier kann die aggreaftion ausgewählt werdne
df.groupby('Firma').mean()

In [ ]:
## Mit variablen
nach_firma = df.groupby('Firma')
nach_firma.mean()

### Gruppieren mit Mathematischen Funktionen

In [ ]:
### Funktionen
# Standardabweichung
nach_firma.std()
# min
nach_firma.min()
# max
nach_firma.max()
# absolut
nach_firma.count()
# Zusammenfassung
nach_firma.describe()

hier noch die Darstellung Transponiert

In [ ]:
nach_firma.describe().transpose()

## Zusammenfügen und Verknüpfen || Merge, Join & Concatenation
Es gibt im Wesentlichen drei Wege, um Data Frames zusammenzuführen: Merging, Joining und Concatenating (Verknüpfen). In dieser Lektion werden wir diese drei Methoden anhand von Beispielen durchgehen.

### Append 
Möglichkeit 2 Dataframe aneinander zu hängen, ähnlichwie "Concat axis = 0"

In [62]:
# Data for append
# erstellen der zwei dataframes
dataA = [['tom', 10], ['nick', 15], ['juli', 14]] 
dataB = [['Jochen', 117], ['Chris', 71], ['Silvia', 5]] 
dfA = pd.DataFrame(dataA, columns = ['Name', 'Age'])
dfB = pd.DataFrame(dataB, columns = ['Name', 'Age'])

In [63]:
#Inteaktion des Dataframes
dfappend = dfA.append(dfB)
print(dfappend)
print("###################")
#update index for new dataframe
dfappend = dfappend.reset_index()
# Drop old index column
dfappend = dfappend.drop(columns="index")
print(dfappend)

     Name  Age
0     tom   10
1    nick   15
2    juli   14
0  Jochen  117
1   Chris   71
2  Silvia    5
###################
     Name  Age
0     tom   10
1    nick   15
2    juli   14
3  Jochen  117
4   Chris   71
5  Silvia    5

### Concat
*Concatenating* bezeichnet das aneinanderreihen von Data Frames. Dabei sollte man beachten, dass die Dimensionen entlang der Achse, entlang derer man anreiht, übereinstimmen.

Dann kann man `pd.concat` nutzen und eine Liste von Data Frames übergeben:

In [ ]:
### Data für die Demonstration
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
print(df1)
print('###########')
print(df2)
print('###########')
print(df3)

#### Zeilen aneinander reihen

In [ ]:
pd.concat([df1,df2,df3])

#### Spalten zusammenführen

In [ ]:
pd.concat([df1,df2,df3],axis=1) #<= gibt so keinen Sinn, concat gibt mehr sinn bei Zeilen zusammenhängen

### Merge

Vergleiche SQL-Abfragen in dem Kontext

#### inner Join

##### InnerJoin mit einem Key

In [ ]:
# BSP data für Merge
links = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
rechts = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})    
print(links)  
print('###########')
print(rechts)

In [ ]:
pd.merge(links,rechts,how='inner',on='key') #<= hier inner /leftouter

##### Inner Join mit zwei Keys

In [ ]:
links = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
rechts = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

print(links)  
print('###########')
print(rechts) #

In [ ]:
pd.merge(links, rechts, on=['key1', 'key2']) # <= hier wird mit zwei key gejoint

#### Outer Join

In [ ]:
# mit zwei Keys
pd.merge(links, rechts, how="outer", on=['key1', 'key2']) # <= empties werden mit NAN aufgeüllte

#### Right Join

In [ ]:
pd.merge(links, rechts, how='right', on=['key1', 'key2'])

#### Left Join

In [ ]:
pd.merge(links, rechts, how='left', on=['key1', 'key2'])

### Join
*Joining* ist eine übliche Methode, um Spalten mit zwei potentiell unterschiedlichen indizierten Data Frames in einen gemeinsamen Data Frame zu packen.

In [ ]:
links = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

rechts = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])


print(links)  
print('###########')
print(rechts) #

#### Inner Join

In [ ]:
# Wir fügen an das linke DF das Rechte an
links.join(rechts)

#### Outer Join

In [ ]:
links.join(rechts, how='outer')

## Operationen

In [ ]:
df = pd.DataFrame({'spa1':[1,2,3,4],'spa2':[444,555,666,444],'spa3':['abc','def','ghi','xyz']})
df.head()

### head
nur die ersten x Zeilen Ausgeben

In [ ]:
df = pd.DataFrame({'spa1':[1,2,3,4],'spa2':[444,555,666,444],'spa3':['abc','def','ghi','xyz']})
df.head()

### info

In [ ]:
df.info()

### unique value
gebe jede Ausprägung nur einmal aus

In [ ]:
df['spa2'].unique()

In [ ]:
# number de runiquen value
df['spa2'].nunique()

### Count 
gibt die Anzahl der uniquen Werte zurück <= nichts anders als Groupby & Aggregation

In [ ]:
df['spa2'].value_counts()

### Apply

#### eigene Funktion

In [ ]:

def mal2(x):
    return x*2
df['spa1'].apply(mal2)

#### Builtin Function

In [ ]:
df['spa3'].apply(len)

#### Lambda Function

In [ ]:
df['spa2'].apply(lambda x: x+2)

### Aggreagationen

In [ ]:
df['spa1'].sum()

In [ ]:
df['spa1'].max()

In [ ]:
df['spa1'].min()

In [ ]:
df['spa1'].var()

In [ ]:
df['spa1'].std()

### SpaltenZeilen name zurückgegebn name, Column name

In [ ]:
df.columns
type(df.columns)
df.columns[0]
columnList = df.columns
columnList

In [ ]:
### Replace Column Names
df
print('########Version1########')
'''
hier werden alle spalten geändert
'''
newColumnList = ['10', '20', '30']
df.columns = newColumnList
print(df)
print()
print('########Version2########')
'''
hier werden alle spalten geändert
'''
df.rename(columns={'10':'nickname', 
                   '20':'age',
                   '30':'firstname'
                   }, 
                 inplace=True)
print(df)
print()
print('########Version3########')
'''
hier wird lediglich eine Spalte geändert
'''
df.rename(columns={'nickname':'Name'}, 
                 inplace=True) 
print(df)
print()

### Back to the orginal Values
df.columns = columnList
print(df)

In [ ]:
df.index

### Sortieren

#### nach einem Wert

In [ ]:
df.sort_values(by='spa2') #inplace=False per Standard

#### nach meherern Feature

In [60]:
#print(carDF.head(10))
dfSortedBodyStyle = carDF.sort_values(['bodyStyle', 'numOfDoors' ], ascending=[True, True])
#print(dfSortedBodyStyle.head(10))
dfSortedBodyStyle = carDF.sort_values(['bodyStyle', 'numOfDoors' ], ascending=[True, False])
print(dfSortedBodyStyle.head(10))

     symboling normalizedLosses           make fuelType aspiration numOfDoors  \
0            3                ?    alfa-romero      gas        std        two
1            3                ?    alfa-romero      gas        std        two
72           3              142  mercedes-benz      gas        std        two
128          3                ?        porsche      gas        std        two
172          2              134         toyota      gas        std        two
189          3                ?     volkswagen      gas        std        two
69           0               93  mercedes-benz   diesel      turbo        two
74           1                ?  mercedes-benz      gas        std        two
98           2              168         nissan      gas        std        two
126          3                ?        porsche      gas        std        two

       bodyStyle driveWheels engineLocation  wheelBase  ...  engineSize  \
0    convertible         rwd          front       88.6  ...         130
1    convertible         rwd          front       88.6  ...         130
72   convertible         rwd          front       96.6  ...         234
128  convertible         rwd           rear       89.5  ...         194
172  convertible         rwd          front       98.4  ...         146
189  convertible         fwd          front       94.5  ...         109
69       hardtop         rwd          front      106.7  ...         183
74       hardtop         rwd          front      112.0  ...         304
98       hardtop         fwd          front       95.1  ...          97
126      hardtop         rwd           rear       89.5  ...         194

     fuelSystem  bore  stroke compressionRatio horsepower  peakRpm cityMpg  \
0          mpfi  3.47    2.68              9.0        111     5000      21
1          mpfi  3.47    2.68              9.0        111     5000      21
72         mpfi  3.46    3.10              8.3        155     4750      16
128        mpfi  3.74    2.90              9.5        207     5900      17
172        mpfi  3.62    3.50              9.3        116     4800      24
189        mpfi  3.19    3.40              8.5         90     5500      24
69          idi  3.58    3.64             21.5        123     4350      22
74         mpfi  3.80    3.35              8.0        184     4500      14
98         2bbl  3.15    3.29              9.4         69     5200      31
126        mpfi  3.74    2.90              9.5        207     5900      17

    highwayMpg  price
0           27  13495
1           27  16500
72          18  35056
128         25  37028
172         30  17669
189         29  11595
69          25  28176
74          16  45400
98          37   8249
126         25  32528

[10 rows x 26 columns]

In [ ]:
print(carDf.head(5))
dfSortedSpecies = irisData.sort_values(['SepalWidthCm', 'Species' ], ascending=[True, True])
print(dfSortedSpecies.head(5))
dfSortedSpecies = irisData.sort_values(['SepalWidthCm', 'Species' ], ascending=[True, False])
print(dfSortedSpecies.head(5))

### Na -Werte Finden

In [ ]:
df.isna()
df.isna().any()
df.isna().any().any()

### Null Werte finden

In [ ]:
df.isnull()

### Werte ersetzen / replace
#### Single Column

In [ ]:
carDF['bore'] = carDF['bore'].replace("?", np.nan)
print(type(carDF))

#### GesamtDatensatz

In [ ]:
import numpy as np
carDF = carDF.replace("?", np.nan)
print(type(carDF))

### Change Datatype von Spalte

In [ ]:
carDF[['price']]=carDF[['price']].astype('float64')

### Pivotieren

In [ ]:
# Data for Pivot
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

## Daten Input und Output

### Csv

In [ ]:
# Input
df = pd.read_csv('./data/example.csv')
df

In [ ]:
# Input
advertismentData=pd.read_csv('./data/islrData_advertising.csv',delimiter=',',encoding='utf-8')
advertismentData = advertismentData.drop(['Unnamed: 0'], axis=1)
#advertismentData.head()

In [ ]:
# Input
labelList=['symboling','normalizedLosses','make','fuelType','aspiration','numOfDoors','bodyStyle','driveWheels','engineLocation',
           'wheelBase','length','width','height','curbWeight','engineType','numOfCylinders','engineSize','fuelSystem','bore',
           'stroke','compressionRatio','horsepower','peakRpm','cityMpg','highwayMpg','price']
carDF = pd.read_csv('./data/data_car.csv',delimiter=',',encoding='utf-8', names=labelList)

In [ ]:
# Output
df.to_csv('./data/my_example.csv',index=False)

### Excel
Pandas kann Excel-Dateien lesen und schreiben. Beachtet aber, dass dabei nur Daten importiert werden. Formeln und Bilder sind dabei nicht eingeschlossen. Makros oder Bilder in der Datei zu haben kann die `read_excel` Methode zum Abstürzen bringen.

In [ ]:
# Input
#!pip install xlrd 
pd.read_excel('./data/Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
# Output
# !pip install openpyxl
df.to_excel('./data/Excel_SampleOut.xlsx',sheet_name='Sheet1')

### Html

In [ ]:
'''
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4
'''
df_html = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
df_html

### Sql

In [ ]:
#!pip install sqlalchemy
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')
df.to_sql('data', engine)

In [ ]:
sql_df = pd.read_sql('data',con=engine)
sql_df

## Transform... 
### ...to Numpy

In [ ]:
Numpyarr = df.to_numpy()
'''
print(type(carDF))
print(type(Numpyarr))
print(Numpyarr)
''' 

# hierbei gehen eben die Titel verolren => muss man sich wieder über die Column reinholen
backToPandas =  pd.DataFrame(Numpyarr)
#print(backToPandas)